<div class="app-body">
  <main class="main d-flex align-items-center">
    <div class="container">
      <div class="row">
        <div class="col-md-8 mx-auto">
          <div class="card-group">
            <div class="card p-4">
              <div class="card-body" *ngIf="!isNewRequire">
                <form>
                  <h1>Login</h1>
                  <p class="text-muted">Sign In to your account</p>
                  <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="icon-user"></i></span>
                    </div>
                    <input type="text" class="form-control" [(ngModel)]="credentials.username" placeholder="Username"
                      autocomplete="username" name="username" required>
                  </div>
                  <div class="input-group mb-4">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="icon-lock"></i></span>
                    </div>
                    <input type="password" class="form-control" [(ngModel)]="credentials.password"
                      placeholder="Password" name="password" autocomplete="current-password" required>
                  </div>
                  <div class="row">
                    <div class="col-6">
                      <button type="button" (click)="onLoginPress()" class="btn btn-primary px-4">Login</button>
                    </div>
                    <div class="col-6 text-right">
                      <p class="text-error" *ngIf="error">{{error}}</p>
                      <!-- <button type="button" class="btn btn-link px-0">Forgot password?</button> -->
                    </div>
                  </div>
                </form>
              </div>

              <div class="card-body" *ngIf="isNewRequire">
                <form>
                  <h1>Login</h1>
                  <p class="text-muted">New password require for first time login.</p>
                  <div class="input-group mb-4">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="icon-lock"></i></span>
                    </div>
                    <input type="password" class="form-control" [(ngModel)]="newPassword" placeholder="Password"
                      name="password" autocomplete="current-password" required>
                  </div>
                  <div class="row">
                    <div class="col-6">
                      <button type="button" (click)="onNewPasswordUpdate()" class="btn btn-primary px-4">Update</button>
                    </div>
                  </div>
                </form>
              </div>

            </div>
            <div class="card text-white bg-primary py-5 d-md-down-none" style="width:44%">
              <div class="card-body text-center">
                <div>
                  <h2>Inventory Management System</h2>
                  <p>
                    This is demo system. To get access, please contact <a class="text-white"
                      href="mailto:sanmeranam@gmail.com?subject=New user request."><i class="fa fa-envelope"></i>
                      Santanu</a>. For more details, please check the channel from where you got this link.
                  </p>

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
</div>