<app-header [navbarBrandRouterLink]="['/dashboard']" [fixed]="true"
  [navbarBrandFull]="{src: 'assets/new_logo.png', width: 115, height: 25, alt: 'INVO Man'}"
  [navbarBrandMinimized]="{src: 'assets/mini_logo.png', width: 30, height: 30, alt: 'INVO Man'}"
  [sidebarToggler]="'lg'" [asideMenuToggler]="'lg'">
  <ul class="nav navbar-nav d-md-down-none">
  </ul>
  <ul class="nav navbar-nav ml-auto">
    <li class="nav-item dropdown" dropdown placement="bottom right">
      <a class="nav-link" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false"
        dropdownToggle (click)="false">
        <img src="https://ui-avatars.com/api/?background=0D8ABC&color=fff" class="img-avatar" />
      </a>
      <div class="dropdown-menu dropdown-menu-right" *dropdownMenu aria-labelledby="simple-dropdown">
        <a class="dropdown-item" (click)="onSignOut()"><i class="fa fa-lock"></i> Logout</a>
      </div>
    </li>
  </ul>
</app-header>
<div class="app-body">
  <app-sidebar #appSidebar [fixed]="true" [display]="'lg'" [minimized]="sidebarMinimized"
    (minimizedChange)="toggleMinimize($event)">
    <app-sidebar-nav [navItems]="navItems" [perfectScrollbar] [disabled]="appSidebar.minimized"></app-sidebar-nav>
    <app-sidebar-minimizer></app-sidebar-minimizer>
  </app-sidebar>
  <!-- Main content -->
  <main class="main">
    <!-- Breadcrumb -->
    <!-- breaking change 'cui-breadcrumb' -->
    <cui-breadcrumb>
      <!-- Breadcrumb Menu-->
      <li class="breadcrumb-menu d-md-down-none">
        <div class="btn-group" role="group" aria-label="Button group with nested dropdown">
          <button class="btn" *ngIf="showAdd" (click)="onAddNewProduct()"><i class="icon-plus"></i> &nbsp;Add</button>
        </div>
      </li>
    </cui-breadcrumb>
    <!-- deprecation warning for 'app-breadcrumb' -->
    <div class="container-fluid">
      <router-outlet></router-outlet>
    </div><!-- /.container-fluid -->
  </main>
  <app-aside [fixed]="true" [display]="false" [ngClass]="'test'">
    <tabset>
      <tab>
        <ng-template tabHeading><i class="icon-layers"></i></ng-template>
        <div class="btn-group" role="group" aria-label="Button group with nested dropdown">
          <button class="btn" (click)="onDeletePress()"><i class="icon-trash"></i> &nbsp;Delete</button>
          <button class="btn" (click)="onSavePress()"><i class="icon-cursor"></i> &nbsp;Save</button>
          <button class="btn" (click)="deSelectProduct()"><i class="icon-close"></i> &nbsp;Close</button>
        </div>
        <div class="p-3" *ngIf="productSelected">
          <!-- <cui-breadcrumb> -->
          <!-- Breadcrumb Menu-->
          <!-- <li class="breadcrumb-menu d-md-down-none"> -->

          <!-- </li> -->
          <!-- </cui-breadcrumb> -->
          <!-- <hr /> -->
          <h3>
            <i class="icon-layers"></i>
            {{productSelected.prod_name}}</h3>

          <div class="row">
            <div class="col-sm-12">
              <div class="form-group"><label for="prod_name">Product Name</label>
                <input class="form-control" id="prod_name" [(ngModel)]="productSelected.prod_name"
                  placeholder="A product name" type="text">
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-sm-12">
              <div class="form-group"><label for="prod_code">Product Code</label>
                <input class="form-control" id="prod_code" [(ngModel)]="productSelected.prod_code"
                  placeholder="e.g. PM1233" type="text">
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-sm-12">
              <div class="form-group"><label for="categoryID">Category</label>
                <select class="form-control" id="categoryID" [(ngModel)]="productSelected.categoryID">
                  <option *ngFor="let c of category.data" [value]="c.id">{{c.name}}</option>
                </select>
                <!-- <input class="form-control" id="prod_code" placeholder="e.g. PM1233" type="text"> -->
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-sm-12">
              <div class="form-group"><label for="quantityPerUnit">Quantity Per Unit</label>
                <input class="form-control" [(ngModel)]="productSelected.quantityPerUnit" id="quantityPerUnit"
                  placeholder="e.g 1kg" type="text">
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-sm-12">
              <div class="form-group"><label for="Price">Unit Price</label>
                <input class="form-control" id="Price" [(ngModel)]="productSelected.unitPrice" placeholder="e.g 22.00"
                  type="number">
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-sm-12">
              <div class="form-group"><label for="stock">In Stock</label>
                <input class="form-control" id="stock" [(ngModel)]="productSelected.unitsInStock" placeholder="e.g. 2"
                  type="number">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12">
              <div class="form-group"><label for="vender">Vender</label>
                <input class="form-control" id="vender" [(ngModel)]="productSelected.vender" placeholder="" type="text">
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-sm-12">
              <div class="form-group"><label for="prod_code">Description</label>
                <textarea class="form-control" id="description" [(ngModel)]="productSelected.description"></textarea>
              </div>
            </div>
          </div>

        </div>
      </tab>
    </tabset>
  </app-aside>
</div>
<app-footer>
  <span class="ml-auto">Powered by <a href="mailto:sanmeranam@gmail.com">Santanu</a></span>
</app-footer>