<div class="row">
    <div class="col-6">
        <div class="card">
            <div class="card-header">Category</div>
            <div class="card-body">

                <table class="table">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Name</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let itm of catgory.data">
                            <td>{{itm.id}}</td>
                            <td>{{itm.name}}</td>
                            <td>
                                <!-- <button class="btn btn-link">
                                    <i class="fa fa-pencil"></i>
                                </button> -->
                            </td>
                        </tr>
                        <tr>
                            <td>
                                ID auto gen
                            </td>
                            <td>
                                <input type="text" [(ngModel)]="newName" id="cat_name"
                                    placeholder="New Category name" class="form-control">
                            </td>
                            <td>
                                <button (click)="saveNew()" class="btn btn-primary">
                                    <i class="fa fa-plus"></i>
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>