<div class="card">
    <ngx-datatable 
    class="material fullscreen expandable" 
    [rows]="products.data"
    [columnMode]="ColumnMode.force"
    [headerHeight]="40" 
    [summaryPosition]="'bottom'" 
    [footerHeight]="50" 
    [limit]="8" 
    rowHeight="auto"

    [selected]="selected"
    [selectionType]="SelectionType.single"
    (select)="onSelect($event)"
    [externalSorting]="true"
    [loadingIndicator]="loading"
    [reorderable]="true">
    <ngx-datatable-column name="Id" prop="id" [width]="80" ></ngx-datatable-column>
    <ngx-datatable-column name="Name" prop="prod_name"></ngx-datatable-column>
    <ngx-datatable-column name="Product Code" prop="prod_code" [width]="120"></ngx-datatable-column>
    <ngx-datatable-column name="Quantity Per Unit" prop="quantityPerUnit" [width]="120"></ngx-datatable-column>
    <ngx-datatable-column name="Unit Price"  prop="unitPrice" [width]="100"></ngx-datatable-column>
    <ngx-datatable-column name="Vender"  prop="vender" [width]="80"></ngx-datatable-column>
    <ngx-datatable-column name="Unit in Stock" prop="unitsInStock"></ngx-datatable-column>    
    <ngx-datatable-column name="Category ID" prop="categoryID"></ngx-datatable-column>
    <!-- <ngx-datatable-column name="Description"  prop="description" [width]="300"></ngx-datatable-column> -->
</ngx-datatable>
</div>