/* You can add global styles to this file, and also import other style files */
// @import '~@swimlane/ngx-datatable/release/datatable.css';
@import '~@swimlane/ngx-datatable/index.scss';
@import '~@swimlane/ngx-datatable/themes/material.scss';
@import '~@swimlane/ngx-datatable/themes/bootstrap.scss';


.text-error {
    color: crimson !important;
}

// @media (min-width: 992px) {

//     .aside-menu-show.aside-menu-fixed .main,
//     html:not([dir=rtl]) .aside-menu-show.aside-menu-fixed .app-footer,
//     html:not([dir=rtl]) .aside-menu-lg-show.aside-menu-fixed .main,
//     html:not([dir=rtl]) .aside-menu-lg-show.aside-menu-fixed .app-footer {
//         margin-right: 350px;
//     }

//     html:not([dir=rtl]) .aside-menu-show .aside-menu,
//     html:not([dir=rtl]) .aside-menu-lg-show .aside-menu {
//         margin-right: 0 !important !important;
//     }
// }

// .app-body .aside-menu {
//     flex: 0 0 350px;
// }

// .aside-menu {
//     right       : 0;
//     margin-right: -350px;
// }

// .test {
//     margin-right: -350px;
// }


// .aside-menu {
//     z-index: 1019;
//     width  : 350px;
// }